<?xml version="1.0" encoding="UTF-8"?>
<sentence_generation>
   <translation_services>
      <!-- NOTE: The new xml settings in this Micrsoft service are based upon reading Microsoft Azure Translotr 3.0 specification -->
      <service>
          <abbrev>m</abbrev>
          <name>microsoft</name>
          <translator>MSTranslator</translator>
          <baseurl>https://api-nam.cognitive.microsofttranslator.com</baseurl>
          <endpoint>translate?api-version=3.0</endpoint>
          <request_method>POST</request_method>
          <headers>
             <header>
                <name>Ocp-Apim-Subscription-Key</name>
                 <value>YOUR_SUBSCRIPTION_KEY</value> 
             </header>    
             <header>
                 <name>Ocp-Apim-Subscription-Region</name>
                 <value>YOUR_REGION</value> 
              </header>
              <header>
              <!-- I believe this is a common header to all the tranlation API services, including IBM. -->
                 <name>Content-Type</name>
              <!-- 
                  Double check if simpley "json;UTF-8" will work, wheterh "charset=" is needed, etc.
                  Checkt that all translation services, including IBM, use "json" and "UTF-8"? 
                -->
                 <value>application/json; charset=UTF-8</value> 
              </header>
              <header>
               <!-- Azure Translator 3.0 requires the strlen($input_text) of &mdash; either the enire array or of each array element? $mdash; I'm
                    not sure which

                    The following limitations apply to the json array with the input text:

                        The array can have at most 100 elements.
                        The entire text included in the request cannot exceed 10,000 characters including spaces.
                    -->

                 <name>Content-Length</name>
                  <!-- hanlder could also be a DerivedTransltorClass ? Overkill? --> 
                 <handler>string_length</handler> 
              </header>
          </headers>
      </service>
      <service>
         <abbrev>d</abbrev>
         <name>deepl</name>
          <translator>DeeplTranslator</translator>
         <endpoint>https://api-free.deepl.com/v2/translate</endpoint>
         <headers>application/json</headers>
         <request_method>GET</request_method>
         <inputtext>
              <location>query</location>
              <parmeter_name>text</parmeter_name>
              <format>???? url_encode???</format>
         </inputtext>
         <query_string>
            <authentication_key>7482c761-0429-6c34-766e-fddd88c247f9:fx</authentication_key>
            <from>source_lang</from>
            <to>target_lang</to>
         </query_string>
      </service>
      <service>
         <abbrev>i</abbrev>
         <name>ibm</name>
         <endpoint></endpoint>
         <headers>application/json</headers>
         <request_type>GET</request_type>
         <query_string>
            <authentication_key>7482c761-0429-6c34-766e-fddd88c247f9:fx</authentication_key>
            <input_text>text</input_text>
            <src_lang>source_lang</src_lang>
            <dest_lang>target_lang</dest_lang>
         </query_string>
      </service>
   </translation_services>
   <sentence_services>
     <service>
       <corpus>deu_news_2012_1M</corpus>
       <limit>5</limit>
     </service>  
   </sentence_services>
</sentence_generation>
