<?xml version="1.0" encoding="UTF-8"?>
<providers>
 <provider> 
     <name abbrev="l">leipzig</name>
     <settings>       <!-- TODO: Genearl setting for all request types. -->
        <baseurl>http://api.corpora.uni-leipzig.de/ws</baseurl> <!-- https?? -->
        <headers> 
        </headers>
     </settings>
     <service type="sentences"> 
        <url>sentences/deu_news_2012_1M/sentences</url> 
        <query> <!-- Alternately: Use parms instead of query -->
           <offset>0</offset>  <!-- offset and limit instead? -->
           <liimit>10</limit> 
           <input_lang name="from" />
           <output_lang name="to" />
        </query> 
     </service>
   </provider>
   <provider> 
      <name abbrev="a">Azure</name>
      <settings> <!-- General settinsg that apply to all Azure Translator services --> 
        <baseurl>https://api-nam.cognitive.microsofttranslator.com</baseurl>
        <credentials method="header">
            <header name="Ocp-Apim-Subscription-Key">ef6e5b44c68d438c8d79cae2f8c020ba</header> 
            <header name="Ocp-Apim-Subscription-Region">eastus2</header>
        </credentials>
        <query> <!-- Alternately: Use parms instead of query -->
           <input_lang name="from" />
           <output_lang name="to" />
           <textType>plain</textType>
        </query>
       </settings>
       <service type="translation">
        <!--  Azure Translator 3.0 also supports "dictionary lookups" and dictionary examples.
            
                 1. translation
                 2. dictionary look up
                 3. dictionary examples
            
               Each type of three request types above has a different "route" (that is appended to the base URL)
            
               1. Translation request:
            
                     https://api-nam.cognitive.microsofttranslator.com/translate
            
               2. Dictionary look up 
            
                     https://api-nam.cognitive.microsofttranslator.com/dictionary/lookup
            
          -->
                <!-- These are settings that apply to all types of requests \-\- text translation, dictionary lookup, etc -->
          <implementation>AzureTranslator</implementation>
          <url>translate</url> <!-- or "route" -->
          <data>  <!--  BODY data
                       "data" == data setin request body. For Azure this is an arrray of json objects:
       
                       [{"text": "Guten Tag!"}, {"text": "Guten Morgen!"}, {"text" : "Guten Nachmittag"}]
                  -->
          </data>   
          <request_method>POST</request_method> 
          <headers>
              <header name="Content-Type" value="application/json; charset=UTF-8" />
          </headers>
          <query> <!-- Alternately: Use parms instead of query -->
            <textType>plain</textType>
          </query>
       </service>
    <service type="dictionary-lookup">
  <!--        
 
  -->
    </service>
  </provider>
  <provider> 
      <name> abbrev="d">deepl</name>
      <settings>   
        <baseul>https://api-free.deepl.com/v2</endpoint>
        <credentials method="header">
            <header name="Authorization">DeepL-Auth-Key 7482c761-0429-6c34-766e-fddd88c247f9:fx</header>
         </credentials>
       </settings>
      <services>
         <service type="translation"> 
            <url>translate</url>
            <headers>application/json</headers>
            <request_method>GET</request_method>
            <inputtext>
                 <location>query</location>
                 <parmeter_name>text</parmeter_name>
                 <format>???? url_encode???</format>
            </inputtext>
            <query> <!-- Alternately: Use parms instead of query -->
               <authentication_key>7482c761-0429-6c34-766e-fddd88c247f9:fx</authentication_key>
               <from>source_lang</from>
               <to>target_lang</to>
            </query>
         </service>
      </services>
   </provider>
  <provider> 
      <name> abbrev="i">ibm</name>
      <settings>   
        <baseul></endpoint>
        <credentials method="token">
           <header name="blah-token-request">blah</header>
        </credentials>
      </settings>
      <services>
         <service type="translation"> 
            <url>translate</url>
            <headers>application/json</headers>
            <request_method>GET/POST???</request_method>
            <inputtext>
                 <location>query</location>
                 <parmeter_name>text</parmeter_name>
                 <format>???? url_encode???</format>
            </inputtext>
            <query> <!-- Alternately: Use parms instead of query -->
               <from>???</from>
               <to>???</to>
            </query>
         </service>
      </services>
   </provider>
</providers>
