body {

  color: black;  
  background-color: white;

  /* Alernate colors: */
  /* 
  color: #FFFFFF;  
  background-color: #102450;

  color: black;        
  background-color: white;   

   */

  /* 
  color: #FFFFFF;                     VS Code Blue dar theme
  background-color: #002451; 
   */

  /* 
  color: #D0CFCC;              
  background-color: #171421;  
  */

}

section {

  font-family: 'Lato Medium', Arial, sans-serif;
  margin: auto;
  width: 60%;

}

section p { 

  padding-right: 6px;
  line-height: 1.7em; 
  margin-bottom: 7px;
  margin-left: 0px;
  margin-right: 0px;  
}


h1, h2, h3, h4, h5 {

  font-family: 'Karla Semibold', 'Open Sans', Arial, sans-serif;
}

/*
 * Specify table width
*/	
div.w50 {
    width: 50%;	
}

div.w60 {
    width: 60%;	
}

div.w70 {
    width: 70%;	
}

div.grid table {

}


/*
 * How to specify widths of each table column
 */ 
/*
table.table-width-style   th:first-of-type {
    width: 10%;
}
table.table-width-style   th:nth-of-type(2) {
    width: 10%;
}
table.table-width-style   th:nth-of-type(3) {
    width: 50%;
}
table.table-width-style   th:nth-of-type(4) {
    width: 30%;
}
*/

table {
 /* 
  font-family: Arial, Helvetica, sans-serif;
  */
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 10px;
}

table tr:nth-child(even){

  background-color: #f2f2f2;
}

table tr:hover {

  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
