body {
  margin-left: 3em;
  color: #FFFFFF;  
  background-color: #002451;

  font-family: 'Lato Medium', Arial, sans-serif;

  /* Alternate colors: 
  color: #FFFFFF;  
  background-color: #102450;

  color: black;        
  background-color: white;   

  color: #D0CFCC;              
  background-color: #171421;  
  */
}

section.definitions dl { 
  display: grid; 
  width: 40%;  /* <-- 40% instead of the 60% for sentence paragraphs */
  margin: auto;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

section.sentences { 
  display: grid; 
  width: 60%;
  margin: auto;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

section.sentences p, section.defintions dl dt, section.defintions dl dd {

  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  line-height: 1.7em; /* <--- Spacing between lines in paragraph */ 
  margin: 4px 0;      /* <--- Spacing between paragraphs. Equivalent to: 
    
             margin-top: 7px;
             margin-bottom: 7px;
             margin-left: 0px;
             margin-right: 0px;  
            */
}

section.sentences p:hover {

	background-color:  #1a346c; 
}	

h1, h2, h3, h4, h5 {

  font-family: 'Karla Semibold', 'Open Sans', Arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
